h1 {
    font-size: 50px;
    font-weight: bold;
    color: red;
    margin: 0;
}
ul {
    align-self: center;
}
.seccion {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    list-style: square;
}

ol {
    padding: 12px;
}
li {
    padding: 12px;
}
figure {
    width: 250px;
    height: 250px;
}
img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}
